/node_modules
/public/hot
/public/storage
/public/uploads/products/images/*
/public/uploads/products/thumbnails/*
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
